<h1 class="content-header">Events</h1>

<div data-ng-repeat="event in vm.events">
    <div class="wedding-event content-block">
        <h2>{{ event.title }}</h2>
        <p>{{ event.time }} {{ event.date }}</p>
        <p>{{ event.address.street }}</p>
        <p>{{ event.address.city }}, {{ event.address.state }} {{ event.address.zip }}</p>
    </div>
    <img src="./assets/images/minted_accent_break.png" alt="It's a cute line break." />
</div>

<div class="fancy-font wedding-event content-block" style="padding: 16px; font-size: 18px;">
    <i>Formal attire requested: Suites/tuxes for men, full length dresses/gowns for women.</i>
</div>

<iframe class="google-maps-block" src="https://mapsengine.google.com/map/embed?mid=zS-bmhXF4Uzc.kztJTTNGdiAc" ></iframe>

<div class="content-block footnote">
    * If you're staying at one of the featured Disney hotels, transportations to and from all
    wedding events will be taken care of.
</div>
