<center class="page-content">
    <h1 class="content-header">Events</h1>

    <div class="col-md-5 col-md-offset-1">
        <div data-ng-repeat="event in vm.events" class="wedding-event">
            <h2>{{ event.title }}</h2>
            <p>{{ event.time }} {{ event.date }}</p>
            <p>{{ event.address.street }}</p>
            <p>{{ event.address.city }}, {{ event.address.state }} {{ event.address.zip }}</p>
        </div>
    </div>

    <div class="col-md-5">
        <iframe src="https://mapsengine.google.com/map/embed?mid=zS-bmhXF4Uzc.kztJTTNGdiAc" width="640" height="480"></iframe>
    </div>

</center>
