<h1 class="content-header">Events</h1>

<div data-ng-repeat="event in vm.events">
    <div class="wedding-event content-block">
        <h2>{{ event.title }}</h2>
        <p>{{ event.time }} {{ event.date }}</p>
        <p>{{ event.address.street }}</p>
        <p>{{ event.address.city }}, {{ event.address.state }} {{ event.address.zip }}</p>
        <!-- <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=30&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=93jm4f1lahfjlloe3qovq8i2jo%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=America%2FNew_York"
            data-ng-if="$first"
            class="google-calendar-button"
            frameborder="0"
            scrolling="no">
        </iframe> -->
    </div>
    <img src="./assets/images/minted_accent_break.png" alt="It's a cute line break." />
</div>

<div class="wedding-event content-block" style="padding: 15px; text-align: left;">
    <h2 style="text-align: center;">Transportation Schedule</h2>
    <p>
        Transportation is provided to and from any of the three featured hotels and all wedding events.
        Chartered motorcoaches will be available for transportation to the ceremony at the following times:
    </p>
    <ul>
        <li>6:30pm - Pickup at the Boardwalk Main Lobby</li>
        <li>6:45pm - Pickup at the Pop Century Main Lobby</li>
        <li>7:00pm - Pickup at the Port Orleans Main Lobby</li>
    </ul>

    <p>
        Transportation from the reception back to your respective hotels will be provided from 11:30pm
        all the way until 2:00am. If you miss the last bus or are staying at a different hotel, you
        can Uber on Disney property- for much less than a taxi (and with an open bar, I hope you need
        a ride back to your hotel).
    </p>
</div>

<img src="./assets/images/minted_accent_break.png" alt="It's a cute line break." />

<div class="fancy-font wedding-event content-block" style="padding: 16px; font-size: 18px;">
    <i>Formal attire requested: Suites/tuxes for men, floor length dresses/gowns for women.</i>
</div>

<!-- Embeded Google Map with event locations -->
<iframe class="google-maps-block" src="https://mapsengine.google.com/map/embed?mid=zS-bmhXF4Uzc.kztJTTNGdiAc"></iframe>

<!-- This is the embeded Google Calendar for the ceremony and reception -->
<!-- <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=300&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=93jm4f1lahfjlloe3qovq8i2jo%40group.calendar.google.com&amp;color=%23182C57&amp;ctz=America%2FNew_York&dates=20160625%2F20160625" style="border-width:0" width="300" height="300" frameborder="0" scrolling="no"></iframe> -->

<div class="content-block footnote">
    * If you're staying at one of the featured Disney hotels, transportations to and from all
    wedding events will be taken care of.
</div>
