.person-block .name {
    display: block;
    font-size: 28px;
}

.person-block .picAndBio {
    min-height: 450px;
}

.person-block .pic {
    width: 90%;
    max-width: 350px;
    border: solid white 10px;
    float: left;
    margin: 16px 25px;
}

.person-block .bio {
    min-height: 400px;
    padding: 16px;
    text-align: justify;
}

.dynamic-border {
    display: none;
}

/* Break point where summary column splits into two */
@media (max-width: 991px) {
    .person-block .bio {
        min-height: 40px;
    }
    .dynamic-border {
        display: block;
    }
}

@media (min-width: 1200px) {
    .person-block .pic {
        margin-right: 25px;
    }
}

@media (max-width: 1600px) {
    .person-block {
        text-align: center;
    }
    .person-block .pic {
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
}
