<center data-ng-show="border === 'top'">
    <img src="./images/minted_accent_break.png" alt="It's a cute line break." />
</center>

<div class="person-block">
    <center class="name">
        <h2>{{ person.name }}</h2>
        <h3>{{ person.title }}</h3>
    </center>

    <div class="picAndBio">
        <img class="pic" data-ng-src="{{ vm.picUrl(person.asset) }}" alt="It's an awesome picture of {{ person.name }}!" />
        <div class="bio" data-ng-include="vm.bioUrl(person.asset)"></div>
    </div>

    <div class="content-block-background"></div>
</div>

<center data-ng-show="border === 'bottom'">
    <img src="./images/minted_accent_break.png" alt="It's a cute line break." />
</center>
