.story-block {
    text-align: left;
}

.story-block figure {
    background-color: white;
    cursor: pointer;
    margin: 16px;
    padding: 8px;
}

.story-block figure img {
    max-width: 250px;
    max-height: 250px;
}

.story-block figure figcaption {
    text-align: center;
    padding-top: 8px;
}

.story-block figure.top {
    margin-top: 0px;
}

.story-block figure.right {
    float: right;
    margin-right: 0px;
}

.story-block figure.center {
    max-width: 266px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.story-block figure.left {
    float: left;
    margin-left: 0px;
}
