<div class="content-block">
    <h2>Where to Stay</h2>
    <p>
        There are a lot of fantastic places to stay  during your time at Disney World. All
        official Disney resorts <!-- Add popover with explanation -->
        offer amazing benefits including complimentary transportation and luggage handling from Orlando
        International Airport via Disney’s Magical Express. You just walk off the plane and head
        straight to the bus- they’ll even deliver your bags to your hotel room for you!
    </p>
    <p>
        While you are welcome to stay anywhere you like, wedding guests can get a special discount at
        the hotels listed below. Additionally, transportation to and from these hotels and all wedding
        events is already taken care of for you as well!
    </p>

    <span data-ng-if="isMobile">
        <p>
            <b>Pop Century</b>
            <span>$145.13 / night</span>
        </p>
        <p>
            <b>Port Orleans - Riverside</b>
            <span>$198.00 / night</span>
        </p>
        <p>
            <b>BoardWalk</b>
            <span>$353.25 / night</span>
        </p>
    </span>

    <table class="hotel-table" data-ng-if="!isMobile">
        <tr>
            <td>Pop Century</td>
            <td>$145.13 / night</td>
        </tr>
        <tr>
            <td>Port Orleans - Riverside</td>
            <td>$198.00 / night</td>
        </tr>
        <tr>
            <td>BoardWalk</td>
            <td>$353.25 / night</td>
        </tr>
    </table>

    <p>
        Prices listed above <b>include</b> tax, are for the summer rate, and are based on double occupancy.
    </p>
    <p>
        To book your Disney World Resort accommodations, please call the Disney Reservation Team at
        <a href="tel:+1-407-827-6799">(407) 827-6799</a>. They can help you with park tickets and
        dining reservations too!
    </p>

    <div class="footnote">
        <p>
            * If you choose to stay at an alternative Walt Disney World resort hotel, please let us know
            so we can notify our wedding coordinator.
        </p>
        <p>
            ** The Swan and Dolphin, Four Season, Shades of Green, and the Hilton, Best Western, Double
            Tree, Bueana Vista Palace, and Wyndham in Disney Springs are <b>NOT</b> official Disney
            hotels and do not use Disney’s Magical Express (basically anything without 'Disney&reg;' in
            the name).
        </p>
    </div>
</div>

<div data-ng-repeat="hotel in vm.hotels" data-ng-include="'./views/travel/components/hotelWidget.html'"></div>
