<div class="content-header">
    <h1>The Wedding Party</h1>
</div>

<div class="wedding-party-block">
    <div class="row" data-ng-repeat="person in vm.bridesmaids track by $index">
        <!-- Bridesmaids (left column) -->
        <div class="col-md-6">
            <summary person="person" border="$first ? '' : 'top'"></summary>
        </div>
        <!-- Groomsmen (right column) -->
        <div class="col-md-6">
            <summary person="vm.groomsmen[$index]" border="$first && !isMobile ? '' : 'top'"></summary>
        </div>
    </div>
</div>
