/**
 * Animation assistance classes.
 * See _ for more info.
 */

.nga-collapse.ng-animate,
.nga-slide-up.ng-animate,
.nga-slide-down.ng-animate,
.nga-squash-vertical.ng-animate {
    max-height: 800px;
}

/* Fading
 * 'fade-in' fades in.
 * 'fade-out' fades out.
 */
.fade.ng-enter,
.fade-in.ng-enter,
.fade.ng-leave,
.fade-out.ng-leave {
    -webkit-transition: opacity 1s linear;
       -moz-transition: opacity 1s linear;
            transition: opacity 1s linear;
}
.fade.ng-leave,
.fade-out.ng-leave,
.fade.ng-enter.ng-enter-active,
.fade-in.ng-enter.ng-enter-active {
    opacity: 1;
}
.fade.ng-enter,
.fade-in.ng-enter,
.fade.ng-leave.ng-leave-active,
.fade-out.ng-leave.ng-leave-active {
    opacity: 0;
}

/* Slide */
.slide.ng-enter,
.slide.ng-enter-active,
.slide.ng-leave,
.slide.ng-leave-active {
    position: absolute;
    width: 100%;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: left 1s ease-out, right 1s ease-out;
       -moz-transition: left 1s ease-out, right 1s ease-out;
            transition: left 1s ease-out, right 1s ease-out;
}

/* Slide Left */
.slide-left {
    left: 0;
}
.slide-left.ng-enter {
    left: 100%;
}
.slide-left.ng-leave,
.slide-left.ng-enter-active {
    left: 0;
}
.slide-left.ng-leave-active {
    left: -100%;
}

/* Slide Right */
.slide-right {
    right: 0;
}
.slide-right.ng-enter {
    right: 100%;
}
.slide-right.ng-leave,
.slide-right.ng-enter-active {
    right: 0;
}
.slide-right.ng-leave-active {
    right: -100%;
}
