html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background-color: #ebe5f5;
    color: #1d112e;
    font-family: nk_mono, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
}

body.mobile {
    background-color: #afa8c8;
}

h1 {
    font-family: new_walt;
    font-size: 76px;
    text-align: center;
}

h1 small {
    color: black;
}

h2 {
    font-family: new_walt;
    font-size: 48px;
    margin: 24px auto 16px;
}

h3 {
    font-size: 28px;
}

button {
    font-size: inherit;
}

/*** BOOTSTRAP CLASS OVERRIDES ***/
.btn-group {
    display: flex;
}

/*** General Classes ***/
.disney-font {
    font-family: new_walt;
}

.fancy-font {
    font-family: nk_mono, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.plain-font {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}

.capitalize {
    text-transform: capitalize;
}

.light-text {
    color: white;
}

.fit-width {
    width: 100%;
}

.block {
    display: block;
}

.flex {
    display: flex;
}

.dropdown-menu {
    font-size: inherit;
}

/*** Main Content ***/
.flower-border-wrapper {
    position: relative;
    width: 100%;
}

.flower-border {
    position: relative;
    margin: 0px auto;
    width: 1600px;
    max-width: 90%;
}

.page-background {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.4;
    z-index: -10;
}

.main-content {
    padding-bottom: 50px;
}
@media (max-width: 800px) {
    .main-content {
        padding: 0px 15px 20px;
    }
    .flower-border {
        display: none;
    }
}

/*** Page Content ***/
.content-header {
    font-family: new_walt;
    margin: 16px auto 48px;
}
.content-header span,
.content-header p {
    font-size: 28px;
}

.content-block {
    display: block;
    position: relative;
    padding: 12px;
}

.content-block-background {
    background-color: #ebe5f5;
    border-radius: 15px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    z-index: -1;
}

/*** Pictures ***/
.primary-picture {
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    display: block;
    max-width: 100%;
    margin: 50px 0px;
    border: solid white 10px;
}

.border-picture {
    border: solid white 10px;
}

/*** Other Page Elements ***/
.footnote {
    margin-top: 32px;
}
