body {
  color: #1d112e;
  background-color: #ebe5f5;
  font-size: 18px;
  /*overflow-x: hidden;*/
}

.page-background {
    position: fixed;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.4;
    z-index: -10;
}

h1 {
    font-size: 60px;
    text-align: center;
}

h2 {
    font-size: 32px;
    text-transform: uppercase;
}

.light-text {
    color: white;
}

.fit-width {
    width: 100%;
}

.main-content {
    margin-top: 100px;
    font-family: cursive;
    padding-bottom: 50px;
    /*overflow: hidden;*/
}
@media (max-width: 800px) {
    .main-content {
        margin-top: 20px;
    }
}

.content-header {
    margin: 75px auto 50px;
}
.content-header span,
.content-header p {
    font-size: 28px;
}
@media (max-width: 800px) {
    .content-header {
        margin-top: 26px;
        margin-bottom: 26px;
    }
}

.primary-picture {
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    display: block;
    max-width: 100%;
    margin: 50px 0px;
    border: solid white 10px;
}

.border-picture {
    border: solid white 10px;
}

.footnote {
    margin-top: 32px;
}
