.travel-block {
    /**/
}

.travel-block .content-block {
    margin: 0px 0px 32px;
    padding: 16px;
}

.travel-subpages {
    font-family: inherit;
    font-size: 32px;
    margin-top: 16px;
}

.travel-subpage-link {
    cursor: pointer;
    padding: 8px 16px;
}

.travel-subpages a:hover,
.travel-subpages a.active {
    color: #23527c;
}

.travel-subpages a:hover {
    text-decoration: none;
}

.travel-subpages a.active {
    text-decoration: underline;
    text-transform: uppercase;
}

.travel-block .travel-content-block {
    display: block;
    text-align: left;
    position: relative;
    padding: 16px;
}

.hotel-table {
    margin: 8px 16px 32px;
}

.hotel-table td {
    padding: 8px 16px;
}


/*** STYLES FOR HOTELS VIEW ***/
.hotel-summary-block {
    display: block;
    min-height: 700px;
    max-width: 100%;
}

.hotel-summary-title {
    font-family: new_walt;
    font-size: 48px;
}

.hotel-summary-text {
    max-width: 45%;
    padding: 0px 16px 16px;
    display: block;
    float: left;
}

.hotel-summary-text h2 {
    margin: inherit;
}

.hotel-summary-media {
    display: inline-flex;
    float: right;
    width: 52%;
    min-width: 600px;
    max-width: 1000px;
    margin: 16px;
}
.hotel-summary-media ul {
    float: left;
    width: 100px;
}
.hotel-summary-media ul li {
    padding: 8px 16px;
    margin: 4px 0px;
    border-radius: 5px 0px 0px 5px;
    background-color: #ebe5f5;
    cursor: pointer;
}
.hotel-summary-media ul li.active {
    background-color: #afa8c8;
    font-weight: bold;
}
.hotel-widget-view-wrapper {
    background-color: #afa8c8;
    width: 100%;
    padding: 24px;
    height: 650px;
}
.hotel-widget-view {
    display: flex;
    margin: auto;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}
.hotel-widget-view img,
.hotel-widget-view iframe,
.hotel-widget-view .caousel-wrapper {
    margin: auto;
    width: 100%;
    min-width: 500px;
    max-width: 100%;
    max-height: 100%;
}
.hotel-widget-view iframe {
    width: 100%;
    height: 100%;
}
@media (max-width: 1600px) {
    .hotel-summary-text {
        max-width: 100%;
        float: none;
    }
    .hotel-summary-media {
        float: none;
        width: 80%;
        margin: 0px auto 16px;
        display: flex;
    }
    .hotel-widget-view-wrapper {
        height: 400px;
    }
    .hotel-widget-view {
        min-height:
    }
}
.small-hotel-widget-pic-nav {
    display: none;
}
@media (max-width: 800px) {
    .small-hotel-widget-pic-nav {
        display: block;
    }
    .standard-hotel-widget-pic-nav {
        display: none;
    }
    .hotel-summary-media {
        display: inherit;
        min-width: 0px;
        width: 100%;
        max-width: 100%;
    }
    .hotel-widget-view img {
        min-width: 200px;
    }
    .hotel-summary-media ul {
        width: 100%;
    }
    .hotel-summary-media ul li {
        border-radius: 0px;
        margin: 0px;
    }
    .hotel-summary-media ul li:first-of-type {
        border-radius: 5px 0px 0px 0px;
    }
    .hotel-summary-media ul li:last-of-type {
        border-radius: 0px 5px 0px 0px;
    }
    .hotel-widget-view-wrapper {
        display: flex;
    }
}


/*** STYLES FOR PARKS VIEW ***/
.park-summary-block {
    /*margin-bottom: 32px;*/
}

.travel-attractions dt {
    display: inline;
}

.travel-attractions dd {
    display: inline;
}
