<div class="hotel-summary-block content-block">

    <!-- Left section -->
    <p class="hotel-summary-text">
        <span class="hotel-summary-title">{{ hotel.title }}</span>
        <br><br>
        <span data-ng-include="hotel.summary"></span>
        <br><br>
        <span>
            <b>Resort Area:</b>
            <br>
            {{ hotel.resortArea }}
            <br><br>
            <b>Address &amp; Contact Info:</b>
            <br>
            {{ hotel.address[0] }}
            <br>
            {{ hotel.address[1] }}
            <br>
            {{ hotel.phone }}
        </span>
        <br><br>
        <span>
            Find more info on the Disney website at
            <a data-ng-href="{{ hotel.link }}">{{ hotel.linkName }}</a>
        </span>
    </p>

    <!-- Right section -->
    <div class="hotel-summary-media">
        <ul class="standard-hotel-widget-pic-nav nav nav-pills nav-stacked">
            <li role="presentation" data-ng-click="hotel.currentView='pics'" data-ng-class="{ active: hotel.currentView === 'pics' }">Pics</li>
            <li role="presentation" data-ng-click="hotel.currentView='map'" data-ng-class="{ active: hotel.currentView === 'map' }">Map</li>
            <li role="presentation" data-ng-click="hotel.currentView='location'" data-ng-class="{ active: hotel.currentView === 'location' }">Location</li>
        </ul>
        <ul class="small-hotel-widget-pic-nav nav nav-tabs">
            <li role="presentation" data-ng-click="hotel.currentView='pics'" data-ng-class="{ active: hotel.currentView === 'pics' }">Pics</li>
            <li role="presentation" data-ng-click="hotel.currentView='map'" data-ng-class="{ active: hotel.currentView === 'map' }">Map</li>
            <li role="presentation" data-ng-click="hotel.currentView='location'" data-ng-class="{ active: hotel.currentView === 'location' }">Location</li>
        </ul>
        <div class="hotel-widget-view-wrapper">
            <div class="hotel-widget-view" data-ng-switch="hotel.currentView">
                <div data-ng-switch-when="pics" class="caousel-wrapper fade-in">
                    <uib-carousel interval="0">
                        <uib-slide data-ng-repeat="pic in hotel.pics track by $index" index="$index">
                            <img data-ng-src="./pics/hotels/{{ pic }}" />
                        </uib-slide>
                    </uib-carousel>
                </div>
                <img data-ng-switch-when="map" class="fade-in" data-ng-src="./pics/hotels/{{ hotel.map }}" />
                <iframe data-ng-switch-when="location" class="fade-in" data-ng-src="{{ hotel.googleMap }}"></iframe>
            </div>
        </div>
    </div>

    <div class="content-block-background"></div>
</div>
