<div class="hotel-summary-block">
    <h2>{{ hotel.title }}</h2>
    <p class="hotel-summary-text">{{ hotel.summary }}</p>
    <div class="hotel-summary-media">
        <ul class="nav nav-pills nav-stacked">
            <li role="presentation" data-ng-click="hotel.currentView='pics'" data-ng-class="{ active: hotel.currentView === 'pics' }">
                Pics
            </li>
            <li role="presentation" data-ng-click="hotel.currentView='map'" data-ng-class="{ active: hotel.currentView === 'map' }">
                Map
            </li>
            <li role="presentation" data-ng-click="hotel.currentView='location'" data-ng-class="{ active: hotel.currentView === 'location' }">
                Location
            </li>
        </ul>
        <div class="hotel-widget-view-wrapper">
            <div class="hotel-widget-view" data-ng-switch="hotel.currentView">
                <img data-ng-switch-when="pics" class="fade-in" data-ng-src="./pics/hotels/{{ hotel.pics[0] }}" />
                <img data-ng-switch-when="map" class="fade-in" data-ng-src="./pics/hotels/{{ hotel.map }}" />
                <iframe data-ng-switch-when="location" class="fade-in" data-ng-src="{{ hotel.googleMap }}"></iframe>
            </div>
        </div>
    </div>
</div>
