<div class="content-header">
    <h1>Gift Registry</h1>
</div>

<div class="content-block">
    <p>
        Sharing in our celebration is the greatest gift you can give us and we are so thankful to
        everyone for being part of our lives and our love.
    </p>
    <p>
        However, if you would like to get us a congratulations gift, we do have a registry on
        <a href="https://www.amazon.com/registry/wedding/102O26GFYJ6FN" target="_blank">
            Amazon.com (click here to open it in a new tab).
        </a>
    </p>
</div>
<br>

<center class="content-block amazon-wedding-registry-content-block">
    <p>
        This was just deployed and hasn't been tested yet, if it looks broken then it probably is.
        You can still view it
        <a href="https://www.amazon.com/registry/wedding/102O26GFYJ6FN" target="_blank">
            here, on Amazon.com.
        </a>
    </p>
    <br>

    <div class="amazon-wedding-registry-wrapper">
        <iframe sandbox="allow-same-origin"
            id="amazon-wedding-registry"
            class="amazon-wedding-registry"
            src="https://us1.proxysite.com/process.php?d=joV9rFmPUFlfhtHQWxnQgckJJX4Hg3hmvNz41y%2BPuPuoECrxODsVFTxrzSnLm8yj&b=1&f=norefer">
            <!-- src="https://www.amazon.com/registry/wedding/102O26GFYJ6FN"> -->
        </iframe>
    </div>
</center>
