ft-picture {
    display: block;
    text-align: center;
    margin: auto;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}
ft-picture figure {
    display: block;
    max-height: 100%;
    max-width: 100%;
}
.ft-picture {
    display: inline-block;
    max-height: 100%;
    max-width: 100%;
}
.ft-picture.ft-thumbnail {
    background-color: white;
    margin: 16px;
    padding: 8px;
}
.ft-picture:not(.ft-thumbnail) {
    align-items: stretch;
    align-content: stretch;
    box-sizing: border-box;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    max-height: 100%;
}

/* Figure positioning styles */
.ft-picture.top {
    margin-top: 0px;
}
.ft-picture.right {
    float: right;
    margin-right: 0px;
}
.ft-picture.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.ft-picture.left {
    float: left;
    margin-left: 0px;
}

/* Figure title styles */
.ft-picture .ft-picture-title {
    background-color: white;
    padding: 16px;
}

/* Figure image styles */
.ft-picture img {
    border-radius: 0;
}
.ft-picture:not(.ft-thumbnail) img {
    border: 16px solid white;
    max-width: 100%;
    max-height: 90%;
}
.ft-picture.ft-thumbnail img {
    max-width: 250px;
    max-height: 250px;
}

/* Figure caption styles */
.ft-picture figcaption {
    text-align: center;
    padding-top: 8px;
}
.ft-picture:not(.ft-thumbnail) figcaption {
    background-color: white;
    border-bottom: 16px solid white;
    padding-top: 0px;
}

/**
 * Styles for zoomed in pictures.
 */
.modal-lg {
    width: 80%;
}
.zoomedPic {
    display: flex;
    /*flex-direction: column;*/
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 24px;
    height: 100%;
    width: 100%;
}
.zoomedPic .slideshow-slide {
    padding: 24px;
}
.zoomedPic img {
    max-width: 100%;
    max-height: 90%;
}
