.navbar {
    background-color: #ebe5f5;
    border-radius: 0px;
    border: none;
    font-size: 16px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #afa8c8;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
    /*-webkit-transition: all 1s linear;*/
    /*-moz-transition: all 1s linear;*/
    /*transition: all 1s linear;*/
}

.flower-border {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    max-width: 100%;
}

.navbar-select {
    display: none;
    width: 100%;
}

.navbar-select button {
    background-color: #ebe5f5;
    border-radius: 0px;
    width: 100%;
    text-transform: capitalize;
    height: 50px;
    font-size: 18px;
}

.navbar-select button>span {
    position: absolute;
    right: 20px;
    top: 25px;
}

.navbar-select .dropdown-menu {
    width: 100%;
}

@media (max-width: 800px) {
    .navbar {
        display: none;
    }

    .navbar-select {
        display: block;
    }

    .flower-border {
        display: none;
    }
}
