<!-- Standard Navbar -->
<div class="navbar navbar-default" data-ng-class="{ mobile: isMobile, desktop: !isMobile }">

    <!-- Left navbar links -->
    <ul class="nav navbar-nav">
        <li data-ng-repeat="link in vm.states"
            data-ui-sref-active="active"
            data-ng-if="link.data.title">
            <a data-ui-sref="{{ link.name }}">{{ link.data.title }}</a>
        </li>
    </ul>

    <!-- Space between left and right navbar sections -->
    <ul class="nav navbar-nav navbar-fill"><li class="navbar-fill"></li></ul>

    <!-- Right navbar links -->
    <ul class="nav navbar-nav navbar-right">
        <li uib-dropdown auto-close="outsideClick" class="navbar-dropdown-li">
            <a href uib-dropdown-toggle id="nav-dropdown"><i class="fa fa-fw fa-cog"></i></a>
            <ul uib-dropdown-menu aria-labelledby="nav-dropdown" class="navbar-dropdown-menu">
                <li class="navbar-dropdown-item">
                    <div class="btn-group">
                        <label class="btn btn-primary fancy-font"
                            ng-model="viewConfig.plainfont"
                            uib-btn-radio="false"
                            style="font-size: 18px;">
                            Fancy Font
                        </label>
                        <label class="btn btn-primary plain-font"
                            ng-model="viewConfig.plainfont"
                            uib-btn-radio="true"
                            style="font-size: 16px;">
                            Plain Font
                        </label>
                    </div>
                </li>
                <!-- <li class="navbar-dropdown-item">
                    <button type="button"
                        class="btn btn-primary"
                        data-ng-click="vm.turnOffFairyDust()"
                        style="font-size: 18px; width: 100%">
                        Turn off Fairydust
                    </button>
                </li> -->
            </ul>
        </li>
    </ul>
</div>


<!-- Mobile Navbar -->
<div class="navbar-mobile" data-ng-class="{ mobile: isMobile, desktop: !isMobile }">
    <span class="fa-stack fa-lg mobile-nav-button" data-ng-click="vm.toggleMobileNavMenu()">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-bars fa-stack-1x fa-inverse"></i>
    </span>

    <div class="navbar-mobile-menu nga-fast nga-squash-left" data-ng-show="vm.mobileMenuOpen">
        <ul class="nav nav-pills nav-stacked">
            <li data-ng-repeat="link in vm.states"
                data-ui-sref-active="active"
                data-ng-if="link.data.title">
                <a data-ui-sref="{{ link.name }}" data-ng-click="vm.toggleMobileNavMenu('close')">
                    {{ link.data.title }}
                </a>
            </li>
        </ul>
    </div>
    <div class="mavbar-mobile-backdrop nga-fast nga-fade" data-ng-show="vm.mobileMenuOpen" data-ng-click="vm.toggleMobileNavMenu('close')"></div>
</div>
