.navbar {
    background-color: #ebe5f5;
    border-radius: 0px;
    border: none;
    font-size: 16px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: #afa8c8;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
}

.flower-border {
    position: absolute;
    left: 0;
    top: 50px;
    max-width: 100%;
    width: 100%;
}
