.navbar {
    background-color: transparent;
    border-radius: 0px;
    border: none;
    display: flex;
    margin-bottom: 0px;
    white-space: nowrap;
    min-height: 44px;
    width: 100%;
}

.navbar-nav {
    float: none;
    margin: 0px;
    display: flex;
}

.navbar-nav>li {
    height: 44px;
}

.navbar-nav>li>a {
    background-color: #ebe5f5;
    height: 100%;
    max-height: 100%;
    padding: 12px;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: transparent;
    font-weight: bold;
    border-radius: 5px 5px 0px 0px;
}

.navbar-fill {
    background-color: #ebe5f5;
    width: 100%;
}

#nav-dropdown {
    background-color: #ebe5f5;
    padding-top: 8px;
}

#nav-dropdown .fa {
    font-size: 25px;
}

.navbar-dropdown-menu {
    background-color: #ebe5f5;
    border-color: #ebe5f5;
    border-radius: none;
    box-shadow: none;
}

.navbar-dropdown-item {
    padding: 8px 12px;
}

.navbar-dropdown-item label {
    font-size: inherit;
}


/*** Styles for mobile navbar ***/
.navbar-mobile {
    display: none;
    width: 100%;
}

.navbar-mobile button {
    background-color: transparent;
    border-radius: 0px;
    width: 100%;
    text-transform: capitalize;
    height: 50px;
}

.navbar-mobile button>span {
    position: absolute;
    right: 20px;
    top: 25px;
}

.navbar-mobile .dropdown-menu {
    width: 100%;
}

@media (max-width: 800px) {
    .navbar {
        display: none;
    }

    .navbar-mobile {
        display: block;
    }
}
