<div class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li data-ui-sref-active="active">
                <a data-ui-sref="home">Home</a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="events">Events</a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="story">Our Story</a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="weddingParty">Wedding Party</a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="travel">Travel &amp; Accommodations</a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="pictures">Pictures</a>
            </li>
            <li data-ui-sref-active="active">
                <a data-ui-sref="registry">Gift Registry</a>
            </li>
        </ul>
    </div>
</div>

<div class="navbar-select dropdown">
    <button aria-expanded="true" aria-haspopup="true" class="btn btn-default dropdown-toggle" data-toggle="dropdown" type="button">
        {{ $state.current.name }}
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <li data-ui-sref-active="active">
            <a data-ui-sref="home">Home</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="events">Events</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="story">Our Story</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="weddingParty">Wedding Party</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="travel">Travel &amp; Accommodations</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="pictures">Pictures</a>
        </li>
        <li data-ui-sref-active="active">
            <a data-ui-sref="registry">Gift Registry</a>
        </li>
    </ul>
</div>

<center class="flower-border-wrapper">
    <img class="flower-border" src="./images/minted_flower_border.png" alt="Pretty flowers." />
</center>
