<center class="page-content">

    <div class="content-header">
        <h1>Timothy</h1>
        <span>and</span>
        <h1>Anastacia</h1>
        <br>
        <span>are <b>finally</b> getting married!</span>
    </div>

    <img class="primary-picture" src="https://lh3.googleusercontent.com/-qgKXTNFhmBg/VqmGt-bLs8I/AAAAAAAABSw/2so4BEWXrMc/s1440-Ic42/castle-kiss.jpg" alt="Seems the image isn't loading here. Rest assured that it's totes adorbs." />

    <span>Please join us for our wedding celebration on</span>
    <h1>June 25, 2016</h1>

    <img src="https://lh3.googleusercontent.com/-aqXazfOFODI/VqmIub4bINI/AAAAAAAABWQ/zXkNOn_l0rk/s200-Ic42/minted_rose.png" alt="Seems the image isn't loading here. Rest assured that it's totes adorbs." />

    <p>We can't wait to see you there!</p>

</center>
