<div class="content-header">
    <h1>
        Timothy Martin
        <small class="title-and">and</small>
        Anastacia Davis
    </h1>

    <h2>are <b>finally</b> getting married!</h2>

    <img class="primary-picture" src="./pics/castle-kiss.jpg" alt="Seems the image isn't loading here. Rest assured that it's totes adorbs." />
    <!-- <img class="primary-picture" src="https://lh3.googleusercontent.com/-qgKXTNFhmBg/VqmGt-bLs8I/AAAAAAAABSw/2so4BEWXrMc/s1440-Ic42/castle-kiss.jpg" alt="Seems the image isn't loading here. Rest assured that it's totes adorbs." /> -->

    <h2>Please join us for our wedding celebration on</h2>
    <h1>June 25, 2016</h1>

    <img src="https://lh3.googleusercontent.com/-aqXazfOFODI/VqmIub4bINI/AAAAAAAABWQ/zXkNOn_l0rk/s200-Ic42/minted_rose.png" alt="Seems the image isn't loading here. Rest assured that it's totes adorbs." />

    <h2>We can't wait to see you there!</h2>
</div>
