<div class="content-header">
    <h1>
        Timothy Martin
        <small class="title-and">and</small>
        Anastacia Davis
    </h1>

    <h2>are <b>finally</b> getting married!</h2>

    <img class="primary-picture" src="./pics/castle-kiss.jpg" alt="Seems the image isn't loading here. Rest assured, it's adorable." />

    <h2>Please join us for our wedding celebration on</h2>
    <h1>June 25, 2016</h1>

    <img class="main-rose" src="./images/minted_rose.png" alt="Seems the image isn't loading here. Rest assured, it's adorable." />

    <h2>We can't wait to see you there!</h2>
</div>
