<!-- {{$ctrl}} -->

<uib-carousel interval="0" start="$ctrl.start">
    <!-- <a role="button" class="slideshow-close" data-ng-click="$ctrl.closeSlideshow()">
        <i class="fa fa-lg fa-close"></i>
    </a> -->
    <uib-slide data-ng-repeat="pic in $ctrl.pics track by $index" index="pic.index" active="pic.active">
        <center class="slideshow-slide" style="flex-direction: column">
            <h2 data-ng-if="pic.title">{{ pic.title }}</h2>
            <img class="slideshow-image" data-ng-src="./assets/pics-of-us/{{pic.src}}.jpg" alt="Totes adorbs picture of us." />
            <br><br>
            <p>{{ pic.date | date: "longDate"}}</p>
            <p data-ng-if="pic.caption">{{ pic.caption }}</p>
        </center>
    </uib-slide>
</uib-carousel>
