<h1 class="content-header">FAQs and Other Helpful Info</h1>

<div class="content-block text-left">
    <h2>Will there be any dancing at the reception?</h2>
    <p>
        Absolutely! There will be plenty of opportunities to show off your dance moves. Seriously,
        we've recently started taking up ballroom dancing, and while we're not any good, we still
        love to dance- and would love for you to join us out on the dance floor. So dust off those
        shoes and get ready to waltz, foxtrot, rumba, and swing!
    </p>
</div>
<br>

<div class="content-block text-left">
    <h2>Multi-day park tickets <b>DON'T</b> have to be used on consecutive days</h2>
    <p>
        For example, if you get a 4 day park hopper ticket, you can go to the park Thursday, Friday,
        relax on Saturday, and then go back Sunday and Monday.
    </p>
    <p>
        The only restriction is that you have to use the tickets within 14 days of the first day.
        Meaning you couldn't take that 4-day ticket and go to Magic Kingdom on say, Thursday, June
        23rd; then you would have to use the remaining 3 days before Thursday, July 7th.
    </p>
</div>
<br>

<div class="content-block text-left">
    <h2>Use <i>Disney's Magical Express</i> if you're flying into Orlando</h2>
    <p>
        Make your life easier. If you're staying at any official Disney hotel (ask when you're
        booking if you're not sure) then Disney provides complimentary transportation to and from
        the airport with complimentary luggage delivery.
    </p>
    <p>
        If you book your hotel and flight at different times- don't worry! You can still take
        advantage of this! Click
        <a href="https://disneyworld.disney.go.com/guest-services/magical-express/">here</a> for
        more details about Disney's Magical Express.

    </p>
</div>
<br>

<div class="content-block text-left">
    <h2>FastPasses</h2>
    <p>
        First, FastPasses are FREE. They are included with your park ticket. You can book up to
        three fastpasses per day to start and you can get more after you use the first three you
        booked.
    </p>
    <p>
        How do you book your fastpasses? You go to <a href="https://disneyworld.disney.go.com/plan/">
        your MyDisneyExperience Account</a> and click the FastPass+ link in the right dropdown menu.
        This is also where you can make dinning reservations, check/update hotel reservations, etc.
    </p>
    <p>
        <b>SUPER IMPORTANT:</b> If you're staying at a Disney World hotel, you can book fastpasses
        as soon as 60 days before your first night. This is important, because if you don't want to
        wait 2 hours to ride the awesome roller coasters, you want to set a reminder to book your
        fastpasses at that 60 day mark.
    </p>
    <p>
        What rides typically get ridiculously long lines that you should use fastpasses on? Great
        question:

        <ul class="faq-list">
            <li class="list-section-title">Magic Kingdom</li>
            <li>Seven Dwarfs Mine Train <i>- This is the newest, most awesome roller coaster in the
            park. If you like fun, make sure to get a fastpass for this.</i></li>
            <li>Space Mountain</li>
            <li>Splash Mountain</li>
            <li>
                Big Thunder Mountain
                <br>
                <i>...and if you're not big into rollercoasters...</i>
            </li>
            <li>Pirates of the Caribbean</li>
            <li>Peter Pan’s Flight</li>
            <li>Jungle Cruise</li>

            <li class="list-section-title">EPCOT</li>
            <li>Spaceship Earth</li>
            <li>Soarin'</li>
            <li>Mission: SPACE</li>

            <li class="list-section-title">Hollywood Studios</li>
            <li>Toy Story Midway Mania!</li>
            <li>Rock 'n' Roller Coaster</li>
            <li>Tower of Terror</li>
            <li>Star Tours 2 <i>- Heads up, this is a simulated ride, if you get motion sick, this is
            worse than any of the roller coasters.</i></li>

            <li class="list-section-title">Animal Kingdom</li>
            <li>Kali River Rapids</li>
            <li>Kilimanjaro Safaris</li>
            <li>
                DINOSAUR
                <br>
                <i>Note: You'll never need a fastpass for the Festival of the Lion King show, but
                    you should absolutely make sure to see it because it's amazing.</i>
            </li>
        </ul>
    </p>
    <p>
        If you have more questions about fastpasses, read more about them
        <a href="https://disneyworld.disney.go.com/faq/fast-pass-plus/product-description/">here</a>.
    </p>
</div>
<br>

<div class="content-block text-left">
    <h2>Your Magic Band is your key to everything Disney</h2>
    <p>
        After you book your hotel reservation, Disney will send you a Magic Band! Your Magic Band
        is your hotel key, your park ticket, your fastpass, your photopass, the thing they scan for
        any dinning reservations, the thing you can use to pay for stuff (you have the option to
        link a card to it to use it to pay for anything in the parks), and probably even more cool
        stuff that I'm forgetting at the moment.
    </p>
</div>
