.pictures-block {
    display: block;
    width: 100%;
    max-width: 100%;
}

.showcase-picture {
    border-radius: 16px;
    display: inline-flex;
    /*width: 400px;*/
    max-width: 30%;
    /*max-width: 600px;*/
    max-height: 600px;
    margin: 16px;
    cursor: pointer;
}
