<h1 class="content-header">Pictures!</h1>

<div class="content-block">
    Once we have pictures from the big day, we'll add them here!<br>
    Until then, enjoy these adorable pictures of us from some of our various adventures over the past decade.<br>
    <i>Click a picture to zoom in, or view picture as a <a href data-ng-click="vm.slideshow(vm.pics[0], 0)">slideShow!</a></i>
</div>

<center class="pictures-block">
    <img data-ng-repeat="pic in vm.pics track by $index"
        class="showcase-picture img-responsive"
        data-ng-click="vm.slideshow(pic, $index)"
        data-ng-src="./assets/pics-of-us/{{pic.src}}.jpg"
        alt="Totes adorbs picture of us." />
</center>

<div class="slideshow-wrapper" data-ng-show="vm.slideshowActive">
    <center class="slideshow fade-in">
        <uib-carousel interval="0" start="vm.slideshowStartIndex">
            <a role="button" class="slideshow-close" data-ng-click="vm.closeSlideshow()">
                <i class="fa fa-lg fa-close"></i>
            </a>
            <uib-slide data-ng-repeat="pic in vm.pics track by $index" index="pic.index" active="pic.active">
                <center class="slideshow-slide" style="flex-direction: column">
                    <ft-picture picture="pic" position="center"></ft-picture>
                </center>
            </uib-slide>
        </uib-carousel>
    </center>

    <div class="slideshow-backdrop" data-ng-click="vm.closeSlideshow()"></div>
</div>
