<h1 class="content-header">Pictures!</h1>

<div class="content-block">
    Once we have pictures from the big day, we'll add them here!<br>
    Until then, enjoy these adorable pictures of us from some of our various adventures over the past decade.<br>
</div>

<center class="pictures-block">
    <img data-ng-repeat="pic in vm.pics track by $index"
        class="showcase-picture img-responsive"
        data-ng-click="vm.slideshow(pic, $index)"
        data-ng-src="./assets/pics-of-us/{{pic.src}}.jpg"
        alt="Totes adorbs picture of us." />
</center>

<div class="slideshow-wrapper" data-ng-show="vm.slideshowActive">
    <center class="slideshow fade-in">
        <uib-carousel interval="0" start="vm.slideshowStartIndex">
            <a role="button" class="slideshow-close" data-ng-click="vm.closeSlideshow()">
                <i class="fa fa-lg fa-close"></i>
            </a>
            <uib-slide data-ng-repeat="pic in vm.pics track by $index" index="pic.index" active="pic.active">
                <center class="slideshow-slide" style="flex-direction: column">
                    <!-- <h2 data-ng-if="pic.title">{{ pic.title }}</h2> -->
                    <img class="slideshow-image" data-ng-src="./assets/pics-of-us/{{pic.src}}.jpg" alt="Totes adorbs picture of us." />
                    <!-- <br><br> -->
                    <!-- <p>{{ pic.date }}</p> -->
                    <!-- <p data-ng-if="pic.caption">{{ pic.caption }}</p> -->
                </center>
            </uib-slide>
        </uib-carousel>
    </center>

    <div class="slideshow-backdrop" data-ng-click="vm.closeSlideshow()"></div>
</div>
