.pictures-block {
    display: block;
    width: 100%;
    max-width: 100%;
}

.showcase-picture {
    border-radius: 16px;
    display: inline-flex;
    max-width: 600px;
    max-height: 600px;
    min-height: 400px;
    margin: 16px;
}

@media (max-width: 1568px) {
    .showcase-picture {
        float: none;
    }
}
