.pictures-block {
    display: block;
    width: 100%;
    max-width: 100%;
}

.showcase-picture {
    border-radius: 8px;
    cursor: pointer;
    display: inline-flex;
    max-width: 30%;
    max-height: 300px;
    margin: 16px;
}
