<h1 class="content-header">Pictures!</h1>

<div class="content-block">
    Once we have pictures from the big day, we'll add them here!<br>
    Until then, enjoy these adorable pictures of us from some of our various adventures over the past decade.<br>
    <div class="content-block-background"></div>
</div>

<center class="pictures-block">
    <img data-ng-repeat="pic in vm.pics track by $index"
        class="showcase-picture img-responsive"
        data-ng-click="vm.slideshow($index)"
        data-ng-src="./pics-of-us/{{$index + 1}}.jpg"
        alt="Totes adorbs picture of us." />
</center>

<div class="slideshow-wrapper" data-ng-show="vm.slideshowActive">
    <center class="slideshow fade-in">
        <uib-carousel interval="0" start="vm.slideshowStartIndex">
            <a role="button" class="slideshow-close" data-ng-click="vm.closeSlideshow()">
                <i class="fa fa-lg fa-close"></i>
            </a>
            <uib-slide data-ng-repeat="pic in vm.pics track by $index" index="pic.index" active="pic.active">
                <center class="slideshow-slide">
                    <img class="slideshow-image" data-ng-src="./pics-of-us/{{$index + 1}}.jpg" alt="Totes adorbs picture of us." />
                </center>
            </uib-slide>
        </uib-carousel>
    </center>

    <div class="slideshow-backdrop" data-ng-click="vm.closeSlideshow()"></div>
</div>
